<?xml version="1.0"?>
<launch>
  <!--Alice's arguments-->
  <arg name="alice_kinematics" default="$(find ur_description)/config/ur10e/default_kinematics.yaml"/>
  <arg name="alice_controller_config_file" default="$(find ur_example_dual_robot)/etc/alice_controllers.yaml"/>
  <arg name="alice_ip" default="10.5.0.5"/>
  <arg name="alice_reverse_port" default="60001"/>
  <arg name="alice_script_sender_port" default="60002"/>
  <arg name="alice_trajectory_port" default="60003"/>
  <arg name="alice_script_command_port" default="60004"/>

  <!--Bob's arguments-->
  <arg name="bob_kinematics" default="$(find ur_description)/config/ur3e/default_kinematics.yaml"/>
  <arg name="bob_controller_config_file" default="$(find ur_example_dual_robot)/etc/bob_controllers.yaml"/>
  <arg name="bob_ip" default="10.5.0.6"/>
  <arg name="bob_reverse_port" default="50001"/>
  <arg name="bob_script_sender_port" default="50002"/>
  <arg name="bob_trajectory_port" default="50003"/>
  <arg name="bob_script_command_port" default="50004"/>

  <!--common arguments-->
  <arg name="use_tool_communication" default="false"/>
  <arg name="controllers" default="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller" doc="Controllers that are activated by default."/>
  <arg name="stopped_controllers" default="pos_joint_traj_controller joint_group_vel_controller" doc="Controllers that are initally loaded, but not started."/>

  <include file="$(find ur_example_dual_robot)/launch/load_dual_description.launch">
    <arg name="bob_kinematics" value="$(arg bob_kinematics)"/>
    <arg name="alice_kinematics" value="$(arg alice_kinematics)"/>
  </include>

  <group ns="alice">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <include file="$(find ur_robot_driver)/launch/ur_control.launch">
      <arg name="use_tool_communication" value="$(arg use_tool_communication)"/>
      <arg name="controller_config_file" value="$(arg alice_controller_config_file)"/>
      <arg name="robot_ip" value="$(arg alice_ip)"/>
      <arg name="reverse_port" value="$(arg alice_reverse_port)"/>
      <arg name="script_sender_port" value="$(arg alice_script_sender_port)"/>
      <arg name="trajectory_port" value="$(arg alice_trajectory_port)"/>
      <arg name="script_command_port" value="$(arg alice_script_command_port)"/>
      <arg name="kinematics_config" value="$(arg alice_kinematics)"/>
      <arg name="tf_prefix" value="alice_"/>
      <arg name="controllers" value="$(arg controllers)"/>
      <arg name="stopped_controllers" value="$(arg stopped_controllers)"/>
    </include>
  </group>

  <group ns="bob">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <include file="$(find ur_robot_driver)/launch/ur_control.launch">
      <arg name="use_tool_communication" value="$(arg use_tool_communication)"/>
      <arg name="controller_config_file" value="$(arg bob_controller_config_file)"/>
      <arg name="robot_ip" value="$(arg bob_ip)"/>
      <arg name="reverse_port" value="$(arg bob_reverse_port)"/>
      <arg name="script_sender_port" value="$(arg bob_script_sender_port)"/>
      <arg name="trajectory_port" value="$(arg bob_trajectory_port)"/>
      <arg name="script_command_port" value="$(arg bob_script_command_port)"/>
      <arg name="kinematics_config" value="$(arg bob_kinematics)"/>
      <arg name="tf_prefix" value="bob_"/>
      <arg name="controllers" value="$(arg controllers)"/>
      <arg name="stopped_controllers" value="$(arg stopped_controllers)"/>
    </include>
  </group>

  <!--Convenience stuff for demo purposes-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_example_dual_robot)/etc/view_robot.rviz" required="true" />
  <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" respawn="false" output="screen">
  </node>

</launch>
