<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="my_work_cell">
  <!--Load the macro for creating a robot-->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur3e_macro.xacro"/>

  <!--Instanciate the robots-->
  <xacro:ur3e_robot prefix="bob_" kinematics_parameters_file="$(arg bob_kinematics)"/>
  <xacro:ur10e_robot prefix="alice_" kinematics_parameters_file="$(arg alice_kinematics)" />

  <!--common link where the tf tree originates from-->
  <link name="world"/>

  <!--Define the robot poses in the world-->
  <joint name="world_to_bob" type="fixed">
    <parent link="world" />
    <child link = "bob_base_link" />
    <origin xyz="-0.5 0 0" rpy="0 0 0" />
  </joint>
  <joint name="world_to_alice" type="fixed">
    <parent link="world" />
    <child link = "alice_base_link" />
    <origin xyz="0.5 0 0" rpy="0 0 0" />
  </joint>
</robot>
